<div class="logo-container">
    <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
      <!-- Background -->
      <rect width="200" height="200" fill="black"/>
    
      <!-- Scaled White "V" Shape, Anchored at the Top and Expanded to the Bottom -->
      <polygon points="30,10 100,190 170,10" fill="white" />
    
      <!-- Mauve Triangle at the Bottom -->
      <polygon points="85,90 100,120 115,90" fill="#D5C5FB" />
    
      <!-- Blue Trapezoid in the Middle -->
      <polygon points="70,50 130,50 115,90 85,90" fill="#59A1F1" />
    
      <!-- Green/Teal Trapezoid at the Top -->
      <polygon points="55,10 145,10 130,50 70,50" fill="#008378" />
    </svg>
  </div>
