
$swiper-theme-color2: #1aff00;
$swiper-theme-color3: magenta;
$swiper-pagination-bullet-color: #007aff;

:host {
  /* --swiper-pagination-color: #{$swiper-theme-color3};
  --swiper-pagination-bullet-inactive-color: #{$swiper-theme-color3};
  --swiper-pagination-bullet-inactive-opacity: 0.5; */

}

.dark-theme :host {/* 
  --swiper-pagination-color: #{$swiper-theme-color3};
  --swiper-pagination-bullet-inactive-color: #{$swiper-theme-color3};
  --swiper-pagination-bullet-inactive-opacity: 0.5; */
}

.autoplay-progress {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color2, #abc);
}

.autoplay-progress.hidden {
  display: none;
}

.autoplay-progress svg {
  --progress: 0; /* Initial value for progress */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color2, #abc); /* Fallback color */
  fill: none;
  stroke-dasharray: 125.6; /* Circumference of the circle */
  stroke-dashoffset: calc(125.6 * (1 - var(--progress))); /* Dynamic offset */
  transform: rotate(-90deg); /* Rotate to start at the top */
  transition: stroke-dashoffset 0.1s linear; /* Smooth animation */
}

swiper-container {
  //--swiper-pagination-bottom: -20px;
  //--swiper-pagination-bullet-size: 8px;
}

swiper-container .swiper-pagination {
  //position: unset !important;
}

.custom-pagination {
  position: absolute;
  width: 100%;
  bottom: 20px !important;
  text-align: center;
  z-index: 10;
}

.action-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: red;
}