.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  
    .carousel-slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
      transform: translateX(calc(-100% * var(--active-slide-index)));
    }
  
    .carousel-slide {
      min-width: 100%;
      //flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
  
      .carousel-slide-content {
        max-width: 90%;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
      }
    }
  
    .carousel-dots {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 10px;
  
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ccc;
        cursor: pointer;
        transition: background 0.3s;
  
        &.active {
          background: #333;
        }
      }
    }
  
    .carousel-chevron {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
  
      &.left {
        left: 10px;
      }
  
      &.right {
        right: 10px;
      }
  
      mat-icon {
        font-size: 2rem;
        color: #555;
      }
  
      &:hover mat-icon {
        color: #000;
      }
    }
  }
  