
$swiper-theme-color2: #007aff;

.autoplay-progress {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color2, #aabbcc);
}

.autoplay-progress svg {
  --progress: 0; /* Initial value for progress */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color2, #aabbcc); /* Fallback color */
  fill: none;
  stroke-dasharray: 125.6; /* Circumference of the circle */
  stroke-dashoffset: calc(125.6 * (1 - var(--progress))); /* Dynamic offset */
  transform: rotate(-90deg); /* Rotate to start at the top */
  transition: stroke-dashoffset 0.1s linear; /* Smooth animation */
}
