@if (service(); as o) {
    <section class="section-container">
        <h2 class="section-title">{{ o.title }}</h2>
        <p class="section-description">
            {{ o.description }}
        </p>
        @if (o.list) {
            <div class="service-grid">
                @for (serviceItem of o.list; track serviceItem.title) {
                    <div class="service-column">
                        <div class="title">{{ serviceItem.title }}</div>
                        <ul class="link-list">
                            @for (link of serviceItem.links; track link.label) {
                                <li class="link-item">
                                    <a class="service-link" [href]="link.url">
                                        <p class="link-label">
                                            {{ link.label }}
                                        </p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }
    </section>
}
