
:host {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    //padding: 2rem 1rem;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color); */
}

.title {
    //font: var(--sys-headline-small);
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--secondary-text-light);
    margin: .25rem 0 1rem 0;
}

p {
    //font: var(--sys-label-medium);
    font-family: 'Arial Narrow', Arial, sans-serif;
    line-height: .875rem;
    font-size: .875rem;
    color: var(--grayscale-200);
    margin: 0;
}

/* 
--sys-label-small: 500 0.688rem / 1rem roboto,
    sans-serif;
--sys-label-small-font: roboto,
    sans-serif;
--sys-label-small-line-height: 1rem;
--sys-label-small-size: 0.688rem;
--sys-label-small-tracking: 0.031rem;
--sys-label-small-weight: 500;
 */