#payment-form {
  display: flex;
  flex-direction: column;
  //gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

#payment-element {
  margin-bottom: 1rem;
}

button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.icon-small {
  font-size: 16px;
  vertical-align: text-top;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}
