@let groups = groupList();
<mat-accordion>
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Contacts
                @if (groups && initialized()) {
                    <mat-chip class="ml-4">
                        Groups: {{ groups?.contactGroups.length }}
                    </mat-chip>
                } @else {
                    &nbsp;loading...
                }
            </mat-panel-title>
        </mat-expansion-panel-header>
        @for (group of groups?.contactGroups; track group.resourceName) {
            <app-google-contact-group-list-item 
                [groupInput]="group">
            </app-google-contact-group-list-item>
        }
    </mat-expansion-panel>
</mat-accordion>
