<h1>About</h1>

<app-profile-card></app-profile-card>

    <!-- <div class="w-full sm:w-3/4 lg:w-3/4 xl:w-2/3 max-w-5xl mx-auto my-10">
      <div class="p-8 rounded-lg shadow-lg bg-[var(--background-color)] text-[var(--text-color)]">
        <h2 class="text-2xl font-bold text-center mb-6">Hello</h2>
        <p class="leading-relaxed">
          Hi, I'm <strong>Adam Cox</strong>, a software development expert and leader with nearly 30 years of experience delivering scalable, innovative solutions across diverse industries. 
          Throughout my career, I've built a reputation for crafting modern systems, modernizing complex legacy applications, and mentoring development teams to achieve their full potential.
        </p>
        <p class="leading-relaxed mt-4">
          I specialize in <strong>full-stack development</strong>, <strong>cloud computing</strong>, and <strong>agile practices</strong>, balancing deep technical expertise with a strategic, leadership-driven mindset. 
          I thrive on solving complex problems and aligning technology with business goals to drive real-world impact.
        </p>
        <p class="leading-relaxed mt-4">
          Whether you're looking to transform legacy systems, build cutting-edge applications, or lead teams to excellence, I bring the experience, vision, and expertise to make it happen. 
          <strong>Let's connect and create something exceptional.</strong>
        </p>
        <p class="leading-relaxed mt-4">
          <a routerLink="/resume" class="text-blue-500 hover:text-blue-700 cursor-pointer">Review and download my latest resume</a>
        </p>
      </div>
    </div> -->