<div *ngIf="menuOpen()" class="menu-dialog fixed top-4 right-6 shadow-lg p-4 min-w-[200px]" [style.background-color]="'var(--background-color)'">
    <div class="flex justify-end">
        <mat-icon class="cursor-pointer hover:text-gray-600" (click)="closeMenu()">close</mat-icon>
    </div>
    <div class="mt-2">
        <app-menu-list [menuItems]="menuItems"></app-menu-list>
    </div>
</div>

<ng-template
    #themeTemplate
    let-isLightThemeSignal="isLightThemeSignal"
    let-toggleTheme="toggleTheme"
    let-swatchSignal="swatchSignal"
    let-swatchOptions="swatchOptions"
    let-setSwatch="setSwatch"
    >
    <div class="theme-controls mt-4">
        <div class="theme-toggle-row">
            <span class="theme-label">Dark Mode</span>
            <mat-slide-toggle
                class="theme-toggle"
                [ngModel]="!isLightThemeSignal()"
                (change)="toggleTheme()">
            </mat-slide-toggle>
        </div>

        <label class="theme-label" for="swatch-select">Color Swatch</label>
        <select
            id="swatch-select"
            class="swatch-select"
            [ngModel]="swatchSignal()"
            (ngModelChange)="setSwatch($event)">
            @for (swatch of swatchOptions; track swatch.value) {
                <option [value]="swatch.value">{{ swatch.label }}</option>
            }
        </select>
    </div>
</ng-template>

