<div *ngIf="menuOpen()" class="menu-dialog fixed top-6 right-4 shadow-lg p-4 min-w-[200px]" [style.background-color]="'var(--background-color)'">
    <div class="flex justify-end">
        <mat-icon class="cursor-pointer hover:text-gray-600" (click)="closeMenu()">close</mat-icon>
    </div>
    <div class="mt-2">
        <app-menu-list [menuItems]="menuItems"></app-menu-list>
    </div>
</div>

<ng-template
    #themeTemplate
    let-isLightThemeSignal="isLightThemeSignal"
    let-toggleTheme="toggleTheme"
    >
    <mat-slide-toggle
        class="theme-toggle mt-5"
        [ngModel]="isLightThemeSignal()"
        (change)="toggleTheme()">         
        <!-- (ngModelChange)="toggleTheme()" -->
    </mat-slide-toggle>
</ng-template>

