<div *ngIf="menuOpen()" data-testid="menu-dialog" class="menu-dialog fixed top-4 right-6 shadow-lg p-4 min-w-[200px]" [style.background-color]="'var(--background-color)'">
    <div class="flex justify-end">
        <mat-icon class="menu-close-icon cursor-pointer" (click)="closeMenu()">close</mat-icon>
    </div>
    <div class="mt-2">
        <app-menu-list [menuItems]="menuListForDisplay()"></app-menu-list>
    </div>
</div>

<ng-template
    #sliderTemplate
    let-displaySignal="displaySignal"
    let-stateSignal="stateSignal"
    let-selectorDelegate="selectorDelegate"
    let-id="id"
    >
    <div class="theme-controls mt-4">
        <div class="theme-toggle-row">
            <span class="menu-control-label">{{ displaySignal() }}</span>
            <mat-slide-toggle
                [id]="id"
                class="theme-toggle ml-5"
                [ngModel]="stateSignal()"
                (change)="selectorDelegate()"
                matTooltip="Alt+T">
            </mat-slide-toggle>
        </div>
    </div>
</ng-template>

<ng-template
    #selectTemplate
    let-stateSignal="stateSignal"
    let-stateOptions="stateOptions"
    let-setState="setState"
    let-tooltip="tooltip"
    let-label="label"
    let-id="id"
    >
    <div class="theme-controls mt-4">
        <label class="menu-control-label" [for]="id">{{ label }}</label>
        <select
            data-testid="state-select"
            [id]="id"
            class="state-select"
            [ngModel]="stateSignal()"
            (ngModelChange)="setState($event)"
            matTooltip="{{ tooltip }}">
            @for (option of stateOptions; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
            }
        </select>
    </div>
</ng-template>
