
  <!-- client logos -->
<section class="flex items-center align-middle justify-center flex-wrap bg-gray-100 dark:bg-gray-800">
    <img src="/images/client/ibm-logo.svg" 
        alt="IBM Logo"
        class="ibm-logo mr-14 my-6 w-20 h-auto">  <!-- 48px as requested -->
    <img src="/images/client/General_Electric_logo.svg"
        alt="GE Logo"
        class="dell-logo mr-14 my-6 w-16 h-auto">
    <img src="/images/client/ACTRA-logo.svg"
        alt="ACTRA Logo"
        class="dell-logo mr-14 my-8 w-24 h-auto">
    <!-- <img src="/images/client/government-of-ontario.svg" 
        alt="Government of Ontario Logo"
        class="ontario-logo mr-14 mb-6 w-40 h-auto dark:invert"> -->    <!-- 64px for Ontario -->
    <img src="/images/client/Chevron_logo.svg"
        alt="Chevron Logo"
        class="chevron-logo mr-14 my-6 w-14 h-auto">
    <img src="/images/client/BMO_Logo.svg"
        alt="BMO Logo"
        class="dell-logo mr-14 my-6 w-26 h-auto">
    <img src="/images/client/Dell_logo.svg"
        alt="Dell Logo"
        class="dell-logo my-6 w-20 h-auto">
</section>
