<div class="flex flex-col w-full">
    <div class="header flex">
      <div class="left-side flex-1">
        <!-- <h1>{{ title }}</h1> -->
         <h2>Open to consulting opportunities</h2>
      </div>
      <!-- <div class="divider flex-auto" role="separator" aria-label="Divider"></div> -->
      <div class="flex-auto">
        <!-- <h1>{{ title }}</h1> -->
      </div>
      <div class="right-side flex-auto">        
        <div class="theme-toggle">
          <mat-slide-toggle
            class="theme-toggle mt-5"
            [(ngModel)]="isLightTheme"
            (change)="toggleTheme($event.checked)">
          </mat-slide-toggle>
        </div>
      </div>
    </div>

    <!-- <div class="flex">
      <app-carousel [autoplayDelayMs]="60000" class="w-full sm:w-3/4 lg:w-3/4 xl:w-2/3 max-w-5xl mx-auto">
        <ng-container *ngIf="stories$ | async as stories">
          @for(story of stories; track $index) {
            <ng-template #slide>
              <mat-card class="px-12 py-8">
                <mat-card-header>
                  <div class="flex flex-col">
                    <h6>{{ story?.title }}:</h6>
                    <h4>{{ story?.subtitle }}</h4>
                  </div>
                </mat-card-header>
                <mat-card-content>
                  <h6>Overview</h6>
                  <p>
                    {{ story?.overview }}
                  </p>
                  <section class="mt-3">
                  <h6>Benefits</h6>
                  <ul>
                    @for (item of story?.benefits; track $index) {
                      <li>
                        - {{ item }}
                      </li>
                    }
                  </ul>
                  </section>
                  <section class="mt-3">
                    <h6>Approach</h6>
                    <ul>
                      @for (item of story?.approach; track $index) {
                        <li>
                          - {{ item }}
                        </li>
                      }
                    </ul>
                  </section>
                  <section class="mt-3">
                  <h6>Summary</h6>
                  <p>
                    {{ story?.summary }}
                  </p>
                </section>
                </mat-card-content>
              </mat-card>
            </ng-template>
          }
        </ng-container>
      </app-carousel>
    </div> -->

    <!-- <div class="flex">
      <app-carousel [autoplayDelayMs]="30000" class="w-full sm:w-3/4 lg:w-3/4 xl:w-2/3 max-w-5xl mx-auto">
        <ng-container *ngIf="stories$ | async as stories">
          @for(short of shorts$ | async; track $index) {
            <ng-template #slide>
              <div class="flex items-center justify-center my-9">
                <youtube-player 
                  [videoId]="short.videoId"
                  [placeholderImageQuality]="'low'"/>
              </div>
            </ng-template>
          }
        </ng-container>
      </app-carousel>
    </div> -->  
  
  </div>
