<section class="meeting-invite-page">
  <mat-card class="meeting-shell">
    <ng-container *ngIf="vm() as vm">
      <header class="meeting-header">
        <div class="meeting-header-illustration" aria-hidden="true">
          <mat-icon svgIcon="coffee-outline"></mat-icon>
        </div>
        <div>
          <h1>{{ vm.title }}</h1>
          <p>Choose an available day and time. Provide your information, and fire it off! Thanks!</p>
        </div>
      </header>

      <section class="meeting-summary">
        <article class="summary-row">
          <div class="summary-icon">
            <mat-icon svgIcon="clock-outline"></mat-icon>
          </div>
          <div class="summary-copy">
            <p>
              <span>{{ vm.meeting?.duration?.value }}&nbsp;</span>
              <span>{{ vm.meeting?.duration?.unit }}</span>
              <span *ngIf="formGroup.controls['date'].value"
                >&nbsp;on&nbsp;{{
                  formGroup.controls['date'].value | date: 'MMM d, yyyy'
                }}</span
              >
              <span *ngIf="formGroup.controls['time'].value"
                >&nbsp;at&nbsp;{{ formGroup.controls['time'].value }}
                <span *ngIf="formGroup.controls['zone'].value"
                  >&nbsp;{{ formGroup.controls['zone'].value }}</span
                >
              </span>
            </p>
          </div>
        </article>

        <article class="summary-row">
          <div class="summary-icon">
            <mat-icon svgIcon="world-outline"></mat-icon>
          </div>
          <div class="summary-copy">
            <p>{{ vm.meeting?.timezone }}</p>
          </div>
        </article>

        <article class="summary-row">
          <div class="summary-icon">
            <mat-icon svgIcon="note-outline"></mat-icon>
          </div>
          <div class="summary-copy">
            <p>{{ vm.meeting?.note }}</p>
          </div>
        </article>
      </section>

      <form [formGroup]="formGroup" class="meeting-form">
        <mat-tab-group #tabGroup class="meeting-tabs">
          <mat-tab label="Day">
            <section class="tab-panel calendar-panel">
              <p-calendar
                [disabledDates]="disabledDates"
                [inline]="true"
                [maxDate]="vm.meeting?.latestDate ?? getDate()"
                [minDate]="vm.meeting?.earliestDate ?? getDate()"
                class="calendar-control"
                formControlName="date"></p-calendar>
            </section>
          </mat-tab>

          <mat-tab label="Time" [disabled]="!formGroup.controls['date'].value">
            <section class="tab-panel">
              <ul class="slot-list">
                <li
                  *ngIf="availableTimesOfSelectedDay.length === 0"
                  class="empty-state">
                  <p>I'm all booked that day. Please choose another.</p>
                </li>

                @for (time of availableTimesOfSelectedDay; track $index) {
                  <li class="slot-row">
                    <button
                      type="button"
                      [@childAnimation]="
                        time.selected ? 'selectedHalf' : 'unselectedFull'
                      "
                      (click)="selectTime(time)"
                      class="slot-button"
                      [class.selected]="time.selected">
                      {{ time.value }}
                    </button>
                    <button
                      *ngIf="time.selected"
                      type="button"
                      [@childAnimation]="
                        time.selected ? 'selectedHalfConfirm' : ''
                      "
                      (click)="confirmTime()"
                      class="slot-confirm-button">
                      Confirm
                    </button>
                  </li>
                }
              </ul>

              <div class="field-block field-block-top">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                  <mat-label>Timezone</mat-label>
                  <mat-select formControlName="zone">
                    <mat-option
                      *ngFor="let timezone of timezoneOptions"
                      [value]="timezone"
                      (click)="selectTimezone(timezone)">
                      {{ timezone }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </section>
          </mat-tab>

          <mat-tab label="Info" [disabled]="!formGroup.controls['date'].value">
            <section class="tab-panel form-panel">
              <div class="field-block field-block-top">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                  <mat-label>Name</mat-label>
                  <input formControlName="name" matInput type="text" />
                </mat-form-field>
              </div>

              <div class="field-block">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput type="text" />
                </mat-form-field>
              </div>

              <div class="field-block">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                  <mat-label>Phone</mat-label>
                  <input formControlName="phone" matInput type="text" />
                </mat-form-field>
              </div>

              <div class="field-block">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                  <mat-label>Subject</mat-label>
                  <input formControlName="subject" matInput type="text" />
                </mat-form-field>
              </div>

              <div class="field-block">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                  <mat-label>Comments</mat-label>
                  <textarea
                    matInput
                    formControlName="comments"
                    rows="3"></textarea>
                </mat-form-field>
              </div>
            </section>
          </mat-tab>
        </mat-tab-group>

        <div class="form-actions">
          <button
            type="button"
            class="submit-button"
            mat-raised-button
            color="primary"
            [disabled]="!canSubmit"
            (click)="submit()">
            Send Request
          </button>
        </div>
      </form>
    </ng-container>
  </mat-card>
</section>
<!-- TODO: optionally request email address so that we can send invitation and process reminder notification -->
