<div class="w-full sm:w-3/4 lg:w-3/4 xl:w-2/3 max-w-5xl mx-auto my-10">
  <div class="p-8 rounded-lg shadow-lg bg-[var(--background-color)] text-[var(--text-color)]">
    <div class="flex flex-row justify-between items-center gap-8 mb-4">
      <h2 class="text-2xl font-bold mb-6">Hello</h2>
      <app-avatar src="assets/images/team/AdamCox_400x400.jpg"></app-avatar>
    </div>
    <p class="leading-relaxed">
      <strong>Adam Cox</strong> is a software solutions developer with a long history of delivering supportable, secure solutions at scale. 
      Throughout his career, he has a proven track record around modernize existing, complex legacy systems. Working with and mentoring existing teams to achieve their full potential.
    </p>
    <p class="leading-relaxed mt-4">
      He specializes in <strong>full-stack development</strong>, <strong>cloud computing</strong>, and <strong>agile practices</strong>, balancing deep technical expertise with a strategic, leadership-driven mindset. 
      He thrives on challenging problems where alignment of resources depends on assuring clarity of the goals has been achieved in order to meet the business goals and deliver valued success.
    </p>
    <p class="leading-relaxed mt-4">
      Whether you're looking to transform legacy systems, build cutting-edge applications, or lead teams to excellence, Adam brings experience, vision, and clear communications adapted to all players amd stakeholders, and takes ownership of the process. 
      <strong>Schedule an initial meeting, and let's discuss your goals.</strong>
    </p>
    <p class="leading-relaxed mt-4">
      <a routerLink="/resume" class="text-blue-500 hover:text-blue-700 cursor-pointer">Review and download my latest resume</a>
    </p>
    <p class="leading-relaxed mt-4">
      <a routerLink="/contact" class="text-blue-500 hover:text-blue-700 cursor-pointer">Contact me</a>
    </p>
  </div>
</div>