@let member = memberInput();
<mat-accordion>
    <mat-expansion-panel #expansionPanel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div *ngIf="!expansionPanel.expanded" class="flex justify-between">
                    {{ displayName }}
                    <span *ngIf="primaryEmailAddress" class="ml-3">{{ primaryEmailAddress }}</span>
                    <button class="ml-3" mat-icon-button (click)="navigateToMember(); $event.stopPropagation(); $event.preventDefault();">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- <pre>{{ member | json }}</pre> -->
        <app-google-contact-group-member-list-item-detail
            [memberInput]="member">
        </app-google-contact-group-member-list-item-detail>
    </mat-expansion-panel>
</mat-accordion>
