@import 'swiper/swiper-bundle.css';
@import 'swiper/css/autoplay'; /* review */
@import 'swiper/css/pagination';

/* .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb:before {
  content: '\f185';
  font: normal normal normal 14px/1 FontAwesome;
  padding: 3px;
}

.mat-slide-toggle .mat-slide-toggle-thumb:before {
  content: '\f186';
  font: normal normal normal 14px/1 FontAwesome;
  padding: 3px 3px;
} */

/* ::ng-deep .mdc-switch__icon {
    color: red !important;
    fill: red !important;
    content: "wb_sunny";
    font-family: 'Material Icons';
} */

/* ::ng-deep .mdc-switch__icon--on {
    //color: red !important;
    fill: red !important;
    content: "dark_mode" !important;
    font-family: 'Material Icons' !important;
} */


$sun-path: 'm5.64 17l-.71.71a1 1 0 0 0 0 1.41a1 1 0 0 0 1.41 0l.71-.71A1 1 0 0 0 5.64 17ZM5 12a1 1 0 0 0-1-1H3a1 1 0 0 0 0 2h1a1 1 0 0 0 1-1Zm7-7a1 1 0 0 0 1-1V3a1 1 0 0 0-2 0v1a1 1 0 0 0 1 1ZM5.64 7.05a1 1 0 0 0 .7.29a1 1 0 0 0 .71-.29a1 1 0 0 0 0-1.41l-.71-.71a1 1 0 0 0-1.41 1.41Zm12 .29a1 1 0 0 0 .7-.29l.71-.71a1 1 0 1 0-1.41-1.41l-.64.71a1 1 0 0 0 0 1.41a1 1 0 0 0 .66.29ZM21 11h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2Zm-9 8a1 1 0 0 0-1 1v1a1 1 0 0 0 2 0v-1a1 1 0 0 0-1-1Zm6.36-2A1 1 0 0 0 17 18.36l.71.71a1 1 0 0 0 1.41 0a1 1 0 0 0 0-1.41ZM12 6.5a5.5 5.5 0 1 0 5.5 5.5A5.51 5.51 0 0 0 12 6.5Zm0 9a3.5 3.5 0 1 1 3.5-3.5a3.5 3.5 0 0 1-3.5 3.5Z';
$moon-path: 'M21.64 13a1 1 0 0 0-1.05-.14a8.05 8.05 0 0 1-3.37.73a8.15 8.15 0 0 1-8.14-8.1a8.59 8.59 0 0 1 .25-2A1 1 0 0 0 8 2.36a10.14 10.14 0 1 0 14 11.69a1 1 0 0 0-.36-1.05Zm-9.5 6.69A8.14 8.14 0 0 1 7.08 5.22v.27a10.15 10.15 0 0 0 10.14 10.14a9.79 9.79 0 0 0 2.1-.22a8.11 8.11 0 0 1-7.18 4.32Z';

::ng-deep .theme-toggle {
    .mdc-switch__icon {
        //transform: scale(0.9); // This is optional for a better icon fit

        // Toggle off
        &--off > path {
            d: path($sun-path);
        }
        
        // Toggle on
        &--on > path {
            d: path($moon-path);
        }

        .mat-slide-toggle-thumb {
            background-color: #fff;
            font-family: 'Material Icons';
        }
    }
  .mdc-switch__track::before {
    background: unset !important;
  }
}


.mat-slide-toggle.mat-checked:not(.mat-disabled) 
.mat-slide-toggle-thumb:before {
content: "wb_sunny"; /* Material icon for sun */
font-family: 'Material Icons';
font-size: 18px;
display: inline-block;
line-height: 1;
vertical-align: middle;
}

.mat-slide-toggle:not(.mat-checked):not(.mat-disabled) 
.mat-slide-toggle-thumb:before {
content: "brightness_3"; /* Material icon for moon */
font-family: 'Material Icons';
font-size: 18px;
display: inline-block;
line-height: 1;
vertical-align: middle;
}

/* .carousel-wrapper {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

mat-card-content {
  padding: 16px;
  box-sizing: border-box;

  p {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
} */

/* swiper-slide {
  height: 400px;
}
swiper-slide:nth-of-type(1) {
  background-color: red;
}
swiper-slide:nth-of-type(2) {
  background-color: green;
}
swiper-slide:nth-of-type(3) {
  background-color: blue;
  color: white;
}
swiper-slide:nth-of-type(4) {
  background-color: yellow;
} */


$swiper-theme-color2: #007aff;

.autoplay-progress {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color2, #aabbcc);
}

.autoplay-progress svg {
  --progress: 0; /* Initial value for progress */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color2, #aabbcc); /* Fallback color */
  fill: none;
  stroke-dasharray: 125.6; /* Circumference of the circle */
  stroke-dashoffset: calc(125.6 * (1 - var(--progress))); /* Dynamic offset */
  transform: rotate(-90deg); /* Rotate to start at the top */
  transition: stroke-dashoffset 0.1s linear; /* Smooth animation */
}
