<router-outlet />
<pre appHotkey="ctrl+a"
    [hotkeyCallback]="presentAdminLoginDialog">
</pre>
<pre appHotkey="alt+t"
    data-testid="theme-toggle"
    [hotkeyCallback]="toggleThemeHotkey">
</pre>
<pre appHotkey="alt+c+<"
    data-testid="theme-color-toggle-previous"
    [hotkeyCallback]="toggleThemeColorPrevious">
</pre>
<pre appHotkey="alt+c+>"
    data-testid="theme-color-toggle-next"
    [hotkeyCallback]="toggleThemeColorNext">
</pre>
<pre appHotkey="alt+b+<"
    data-testid="theme-font-toggle-previous"
    [hotkeyCallback]="toggleThemeFontPrevious">
</pre>
<pre appHotkey="alt+b+>"
    data-testid="theme-font-toggle-next"
    [hotkeyCallback]="toggleThemeFontNext">
</pre>
