:host {
    --sys-surface: var(--primary-grayscale-500);
    display: block;
    width: 100%;
    min-height: 100vh;
    background-color: var(--sys-surface);
}

.file-upload-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    min-height: calc(100vh - 4rem);
    padding: 2rem;
}

.bottom-right-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 32px;
}

.top-left-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 32px;
}
