:host {
    --sys-surface: var(--primary-grayscale-500);
    display: block;
    width: 100%;
    min-height: 100vh;
    background-color: var(--sys-surface);
}

h3, p {
    color: var(--primary-grayscale-100);
}

.file-upload-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    min-height: calc(100vh - 4rem);
    padding: 2rem;
}

.bottom-right-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 32px;
}

.top-left-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 32px;
}

@media (max-width: 768px) {
    .file-upload-container {
        flex-direction: column;
        padding: 1rem;
    }
    .bottom-right-container {
        padding: 1rem;
    }
    .top-left-container {
        margin: 1rem;
    }
}