<div class="file-upload-container">
    <div class="top-left-container">
        <h3>Congratulation! You have completed the quiz.</h3>
        <p>Please upload your PDF file, and get your custom report.</p>
    </div>
    <div class="bottom-right-container">
        <app-file-upload
            (filesSelected)="updateSelectedFiles($event)"
            [selectedFiles]="selectedFiles">
        </app-file-upload>        
        @if (selectedFiles.length > 0) {
            <div class="upload-button">
                <button mat-raised-button 
                        color="primary" 
                        class="upload-button"
                        (click)="uploadFiles(selectedFiles)">
                    Upload
                </button>
            </div>
        }
    </div>
</div>
