<div class="page-container">
  <div class="quiz-container">
    <mat-card>
      <!-- <mat-card-header>
        <mat-card-title>Quiz</mat-card-title>
      </mat-card-header> -->
      <mat-card-content>
        <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
          <mat-stepper
            #stepper
            [linear]="isLinear"
            (selectionChange)="currentStep.set($event.selectedIndex)"
            >
            <mat-step *ngFor="let question of quiz" [stepControl]="quizForm.controls['question' + question.id]">
              <!-- <ng-template matStepLabel>Question {{question.id}}</ng-template> -->
              <div class="question-container"
              ><!-- 
                (swipeleft)="onSwipeLeft($event)"
                (swiperight)="onSwipeRight($event)" -->
                <h3>{{question.content}}</h3>
                <p class="dimension">{{question.dimension}}</p>
                <mat-radio-group [formControlName]="'question' + question.id"
                  (change)="stepper.next()">
                  <mat-radio-button *ngFor="let option of question.options"
                    class="simple-radio-button"
                    [value]="option.archetypeId">
                    <div class="option-content">
                      <span class="option-text">{{option.content}}</span>
                      <span class="option-subtext">{{option.context}}</span>
                    </div>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="step-actions">
                <button mat-button matStepperPrevious *ngIf="question.id > 1">Back</button>
                <button mat-button matStepperNext
                  *ngIf="question.id < quiz.length"
                  [disabled]="!quizForm.get('question' + question.id)?.valid"
                  (click)="stepper.next()">Next</button>
                <button mat-raised-button color="primary" 
                  type="submit" 
                  *ngIf="question.id === quiz.length"
                  [disabled]="!quizForm.get('question' + question.id)?.valid"
                  [disabled]="!quizForm.valid">
                  Submit
                </button>
              </div>
            </mat-step>
          </mat-stepper>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
