<div class="page-container">
  <ng-container *ngIf="quiz() as quiz">
    @if (isMobile()) {
      <ng-container *ngTemplateOutlet="quizNavHeader; context: { $implicit: quiz }"></ng-container>
    } @else {
      <ng-container *ngTemplateOutlet="quizHeader; context: { $implicit: quiz }"></ng-container>
    }
    <div class="quiz-container">
      <div *ngIf="quiz.questions as questions">
        <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
          <mat-stepper #stepper [linear]="isLinear">
            <mat-step *ngFor="let question of questions"
              [completed]="question.id === questions.length">
              <div class="question-container">
                <div class="question-content">
                  <span class="question-text">{{question.content}}</span>
                  <p class="dimension">{{question.dimension}}</p>
                </div>
                <mat-button-toggle-group [formControlName]="'question' + question.id" 
                  class="quiz-option-group"
                  [ngClass]="{'two-column': !isMobile() && question.options.length > 2}">
                  <mat-button-toggle *ngFor="let option of question.options"
                    class="quiz-option-button"
                    [value]="option.archetypeId"
                    (mouseup)="onOptionClick(option)">
                    <div class="option-content">
                      <span class="option-text">{{option.content}}</span>
                      <span class="option-subtext">{{option.context}}</span>
                    </div>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </mat-step>
          </mat-stepper>
          @if (isMobile()) {
          <button mat-flat-button color="primary" 
            type="submit"
            *ngIf="quizForm.valid"
            class="form-submit-button">
            Submit
          </button>
          } @else {
            <ng-container *ngTemplateOutlet="quizNav; context: { $implicit: quiz }"></ng-container>
          }
        </form>
      </div>
    </div>
    <div class="quiz-footer">
      <div class="quiz-footer-item">
          Vorba &copy; 2025
      </div>
      <div class="quiz-footer-item">
          {{quiz.title}}
      </div>
    </div>
  </ng-container>
</div>

<ng-template #quizNav let-quiz>
  <div class="step-actions">
    <button mat-flat-button class="step-action-button"
      title="Back"
      [disabled]="isFirstQuestion"
      (click)="goToPrevious()"
      type="button">
      <mat-icon iconPositionStart>arrow_back_ios</mat-icon>
      Back
    </button>
    <div class="step-position-indicator">
      <span class="step-position-indicator-text">
        {{currentQuestionId}}&nbsp;/&nbsp;{{quiz.questions.length}}
      </span>
    </div>
    <div>
      <button mat-flat-button class="step-action-button"
        title="Next"
        [disabled]="isLastQuestion || !quizForm.get('question' + currentQuestionId)?.valid"
        (click)="goToNext()"
        type="button">
        <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
        Next
      </button>
      <button mat-flat-button color="primary" 
        type="submit"
        [disabled]="!quizForm.valid"
        class="step-action-button submit-button ml-5">
        Submit
      </button>
    </div>
  </div>
</ng-template>

<ng-template #quizNavHeader let-quiz>
  <div class="quiz-nav-header">
    <button class="quiz-nav-header-back-button"
      title="Back"
      [disabled]="isFirstQuestion"
      (click)="goToPrevious()"
      type="button">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="quiz-nav-header-title">
      <span class="step-position-indicator-text">
        {{currentQuestionId}}&nbsp;/&nbsp;{{quiz.questions.length}}
      </span>
    </div>
    <button class="quiz-nav-header-next-button"
      title="Next"
      [disabled]="isLastQuestion || !quizForm.get('question' + currentQuestionId)?.valid"
      (click)="goToNext()"
      type="button">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>  
</ng-template>

<ng-template #quizHeader let-quiz>
  <!-- Header (todo) -->
</ng-template>