/* @import 'swiper/swiper-bundle.css';
@import 'swiper/css/autoplay';
@import 'swiper/css/pagination'; */

/* .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb:before {
  content: '\f185';
  font: normal normal normal 14px/1 FontAwesome;
  padding: 3px;
}

.mat-slide-toggle .mat-slide-toggle-thumb:before {
  content: '\f186';
  font: normal normal normal 14px/1 FontAwesome;
  padding: 3px 3px;
} */

/* ::ng-deep .mdc-switch__icon {
    color: red !important;
    fill: red !important;
    content: "wb_sunny";
    font-family: 'Material Icons';
} */

/* ::ng-deep .mdc-switch__icon--on {
    //color: red !important;
    fill: red !important;
    content: "dark_mode" !important;
    font-family: 'Material Icons' !important;
} */

/* changes scroll bar color */
/* :root {
  --sys-surface: red;
  background-color: var(--sys-surface);
} */

body {
  //--background-color: white;
}

/* Global styles in styles.scss for::after
    - Light / dark mode slider-toggle (sun / moon icons)
*/

/* .carousel-wrapper {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

mat-card-content {
  padding: 16px;
  box-sizing: border-box;

  p {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
} */

/* swiper-slide {
  height: 400px;
}
swiper-slide:nth-of-type(1) {
  background-color: red;
}
swiper-slide:nth-of-type(2) {
  background-color: green;
}
swiper-slide:nth-of-type(3) {
  background-color: blue;
  color: white;
}
swiper-slide:nth-of-type(4) {
  background-color: yellow;
} */


// moved from app.component.html <style>

:host {
  --bright-blue: oklch(51.01% 0.274 263.83deg);
  --electric-violet: oklch(53.18% 0.28 296.97deg);
  --french-violet: oklch(47.66% 0.246 305.88deg);
  --vivid-pink: oklch(69.02% 0.277 332.77deg);
  --hot-red: oklch(61.42% 0.238 15.34deg);
  --orange-red: oklch(63.32% 0.24 31.68deg);
/* 
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04); */

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
  .banner-section {
    //background-size: cover;
    //background-position: center;
    background-repeat: no-repeat;
    height: 448px;
  }
}

app-contact-form#contact-form {
  display: block;
  scroll-margin-top: 80px;
}

:host-context(.dark-theme) .banner-section {
  background-image: url('/images/modern-geometric-background-dark.svg');
}

:host-context(.light-theme) .banner-section {
  background-image: url('/images/modern-geometric-background-light.svg');
}

  /* main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    box-sizing: inherit;
    position: relative;
  } */

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    //justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
    height: 350px;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    //flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.0088rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }
  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--french-violet);
  }
  .pill-group .pill:nth-child(6n + 3),
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--hot-red);
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }
/* 
  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  } */

  @media screen and (max-width: 650px) {
    .content {
      /* flex-direction: column;
      width: max-content; */
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }