/* You can add global styles to this file, and also import other style files */

@import './styles.css';

/* Material theme -- BEGIN */
/* @import "~@angular/material/theming";
@include mat-core();

$custom-primary: mat-palette($mat-indigo);
$custom-accent: mat-palette($mat-pink, A200, A100, A400);

$custom-theme: mat-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
  ),
));

@include angular-material-theme($custom-theme); */

// Import the prebuilt themes (or create your own)
//@use '@angular/material' as mat;

// Example of a built-in theme. You can customize this further.
//@include mat.all-component-themes($primary: mat.define-palette(mat.$indigo-palette));

/* Material theme -- END */


:host {
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);
}

// added by material (ng add @angular/material)
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* theme */
/* light (default / root) */
.light-theme {
    --background-color: #ffffff;
    --text-color: var(--gray-700);
    --primary-color: #1976d2;
    --background-image: url('assets\\images\\background-blue-1-light.jpeg');
}

/* dark theme */
.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
    --background-image: url('assets\\images\\background-blue-1-dark.jpeg');
}

:root {
    --background-color: #070437;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
    --background-image: url('assets\\images\\background-blue-1-dark.jpeg');
    
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: var(--background-image);
    background-size: cover;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-700);
  }

  .light-theme .social-links path {
    transition: fill 0.3s ease !important;
    fill: var(--gray-700) !important;
  }

  .light-theme .social-links a:hover svg path {
    fill: var(--gray-400) !important;
  }

  .mat-button-toggle-group {
    margin: 1rem;
  
    .mat-button-toggle-checked {
      background-color: var(--text-color) !important;
      color: var(--background-color) !important;
    }
  }

:root mat-card {
  background-color: var(--background-color);
  //margin-bottom: 50px;
  //margin-left: 50px;
  //margin-right: 50px;
}

p {
  margin: 0;
  color: var(--gray-700);
}