/* You can add global styles to this file, and also import other style files */

@import './styles.css';

/* Material theme -- BEGIN */
/* @import "~@angular/material/theming";
@include mat-core();

$custom-primary: mat-palette($mat-indigo);
$custom-accent: mat-palette($mat-pink, A200, A100, A400);

$custom-theme: mat-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
  ),
));

@include angular-material-theme($custom-theme); */

// Import the prebuilt themes (or create your own)
//@use '@angular/material' as mat;

// Example of a built-in theme. You can customize this further.
//@include mat.all-component-themes($primary: mat.define-palette(mat.$indigo-palette));

/* Material theme -- END */


:host {
  /* 
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04); */

  /* moved from app.component.scss */

  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);
  /* 
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04); */

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%);

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%);

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --link-color: #0056b3;
}

// added by material (ng add @angular/material)
html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:root h2 {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* theme */
/* light (default / root) */
.light-theme {
  --background-color: #ffffff;
  --text-color: var(--grayscale-700);
  --primary-color: #1976d2;
  --background-image: url('assets\\images\\background-blue-1-light.jpeg');
}

/* dark theme -- See root for default dark theme
.dark-theme {
    --background-color: #121212;
    --text-color: var(--grayscale-600);
    --primary-color: #bb86fc;
    --background-image: url('assets\\images\\background-blue-1-dark.jpeg');
  } */

:root {
  /* Grayscale */
  --grayscale-50: #ffffff;
  /* White */
  --grayscale-100: #fafafa;
  --grayscale-200: #f5f5f5;
  --grayscale-300: #e5e5e5;
  --grayscale-400: #d4d4d4;
  --grayscale-500: #a3a3a3;
  --grayscale-600: #737373;
  --grayscale-700: #525252;
  --grayscale-800: #404040;
  --grayscale-900: #262626;
  --grayscale-950: #000000;
  /* Black */

  /* Existing variables */
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);
  --link-color: #0056b3;

  /* dark theme (default) */
  --background-color: #070437;
  --text-color: var(--grayscale-400);
  --primary-color: #bb86fc;
  --error-color: #cf6679;
  --background-image: url('assets\\images\\background-blue-1-dark.jpeg');

  // TODO & DEV-NOTE:  R&D how to compose theme with efficiency.
  // there should be a way to quickly create new from existing (as template) and
  // create dark theme (from light).

  // support styling of meeting/invite
  // mat tab header labels
  --mat-select-enabled-trigger-text-color: var(--text-color); // mat-select formControlName="zone"
  --mat-tab-header-active-label-text-color: var(--text-color);
  --mat-tab-header-active-hover-label-text-color: var(--text-color);
  --mat-tab-header-inactive-label-text-color: var(--text-color);
  --mat-tab-header-inactive-hover-label-text-color: var(--text-color);

  // Material form field theme
  --mdc-outlined-text-field-container-color: transparent;
  --mdc-outlined-text-field-outline-color: var(--grayscale-600);
  --mdc-outlined-text-field-hover-outline-color: var(--grayscale-500);
  --mdc-outlined-text-field-focus-outline-color: var(--primary-color);
  --mdc-outlined-text-field-label-text-color: var(--grayscale-400);
  --mdc-outlined-text-field-hover-label-text-color: var(--grayscale-300);
  --mdc-outlined-text-field-focus-label-text-color: var(--primary-color);
  --mdc-outlined-text-field-input-text-color: var(--grayscale-50);
  --mdc-outlined-text-field-caret-color: var(--primary-color);
  /* --mdc-outlined-text-field-outline-gap-padding: 4px;
  --mdc-outlined-text-field-container-shape: 4px;
  --mdc-outlined-text-field-label-padding: 0 4px; */

  // Error states
  --mdc-outlined-text-field-error-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-focus-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-hover-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-label-text-color: var(--error-color);
  --mdc-outlined-text-field-error-hover-label-text-color: var(--error-color);
  --mdc-outlined-text-field-error-focus-label-text-color: var(--error-color);

  //--mat-form-field-outlined-label-text-populated-size: 12px;
}

.light-theme {
  --background-color: #ffffff;
  --text-color: var(--grayscale-700);
  --primary-color: #5719d2;
  --error-color: #d32f2f;
  --background-image: url('assets\\images\\background-blue-1-light.jpeg');

  // Material form field theme
  --mdc-outlined-text-field-container-color: transparent;
  --mdc-outlined-text-field-outline-color: var(--primary-color);
  --mdc-outlined-text-field-hover-outline-color: var(--grayscale-500);
  --mdc-outlined-text-field-focus-outline-color: var(--primary-color);
  --mdc-outlined-text-field-label-text-color: var(--grayscale-600);
  --mdc-outlined-text-field-hover-label-text-color: var(--grayscale-700);
  --mdc-outlined-text-field-focus-label-text-color: var(--primary-color);
  --mdc-outlined-text-field-input-text-color: var(--grayscale-900);
  --mdc-outlined-text-field-caret-color: var(--primary-color);

  // Error states
  --mdc-outlined-text-field-error-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-focus-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-hover-outline-color: var(--error-color);
  --mdc-outlined-text-field-error-label-text-color: var(--error-color);
  --mdc-outlined-text-field-error-hover-label-text-color: var(--error-color);
  --mdc-outlined-text-field-error-focus-label-text-color: var(--error-color);
}

// Fix for the vertical line issue
.mdc-notched-outline__notch {
  border-right: 0px;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.social-links path {
  transition: fill 0.3s ease;
  fill: var(--gray-400);
}

.social-links a:hover svg path {
  fill: var(--gray-700);
}

.light-theme .social-links path {
  transition: fill 0.3s ease !important;
  fill: var(--gray-700) !important;
}

.light-theme .social-links a:hover svg path {
  fill: var(--gray-400) !important;
}

.mat-button-toggle-group {
  margin: 1rem;

  .mat-button-toggle-checked {
    background-color: var(--text-color) !important;
    color: var(--background-color) !important;
  }
}

:root mat-card {
  background-color: var(--background-color);
  //margin-bottom: 50px;
  //margin-left: 50px;
  //margin-right: 50px;
}

p {
  margin: 0;
  //color: var(--gray-700);
}

.light-theme {
  p {
    margin: 0;
    color: var(--gray-700);
  }
}

// Material theme overrides:
// Rounded corners
.rounded-lg {
  border-radius: 0rem;
}
